.header {
  width: 200px;
  height: 200px;
  background: orange;
}
.header a {
  color: red;
}
.header a:hover {
  color: yellow;
}
.nav .logo {
  color: seagreen;
}
.nav::before {
  content: "123";
}
